<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <security>
            <requestFiltering>
                <fileExtensions>
                    <add fileExtension=".mtl" allowed="true" />
                    <add fileExtension=".drc" allowed="true" />
                    <add fileExtension=".obj" allowed="true" />
                </fileExtensions>
            </requestFiltering>
        </security>
        <staticContent>
            <mimeMap fileExtension=".mtl" mimeType="application/octet-stream" />
            <mimeMap fileExtension=".drc" mimeType="application/octet-stream" />
            <mimeMap fileExtension=".obj" mimeType="application/octet-stream" />
        </staticContent>
    </system.webServer>
</configuration>
